*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
_build/
*.byte
*.native
setup.data
setup.log
.merlin
*\#*
*~*
.projectile
*.mldylib
*.mllib
META
/myocamlbuild.ml
/setup.ml
/_tags
/Makefile
/configure